.discounts{
  padding: 20px;
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    border-radius: 20px;
    padding-right: 20px;
  }
  &__image{
    img{
      width: 150px;
      height: 100%;
      object-fit: contain;
    }

  }
  &__content{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
}